<html>
    <head>
        <title>
            Codeial 
        </title>
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/layout.css">
        <%- style %>
        
    </head>

    <body>
        <%- include('header'); %>

        <div id="main">
            <%- body %>
        </div>


        <%- include('footer'); %>

        <%- script %>
        
    </body>
</html>