<html>
    <head>
        <title>
            Codeial 
        </title>
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/layout.css">
        <link rel="stylesheet" href="/styles/home.css">


        <%- style %>
        
    </head>

    <body>
        <%- include('header'); %>
         <% if(flash.success && flash.success.length>0){%>
            <h5>
                <%=flash.success %>
            </h5>
         <%}%>
        <div id="main">
            <%- body %>
        </div>


        <%- include('footer'); %>

        <%- script %>
        
    </body>
</html>