<%if(locals.user){%>
<div >
  <form action="/posts/createpost" id="new-post-form"  method="POST">
    <textarea name="content" rows="3" cols="30"></textarea>
    <input type="submit" value="Post" />
  </form>
</div>
<%}%>
<div id="post-container">
  <% for(post of posts){%>
  <div id="post-list-<%=post._id%>">
    <%if(locals.user && locals.user.id==post.user.id){%>
    <a class="delete-post-button" href="/posts/deletepost/<%=post.id%>">Delete</a>
    <%}%>
    <ul>
      <li><%=post.content %></li>
      <p><%=post.user.name %></p>
      <p><%=post.createdAt %></p>
      <%-include('comment')-%>
    </ul>
  </div>
  <%}%>
</div>
<script src="/js/home_post.js"></script>
